@model IEnumerable<BloggerTrackApp.Models.BlogInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>BlogInfo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="background-color:beige">
            <th>
                @Html.DisplayNameFor(model => model.BlogId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEmailId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="background-color:aliceblue">
            <td>
                @Html.DisplayFor(modelItem => item.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofCreation)
            </td>
            <td class="btn btn-danger"><a asp-action="BlogUrl">
                @Html.DisplayFor(modelItem => item.BlogUrl)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmailId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
